<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row><ion-col><h1 style="text-align: center;">Inicio de Sesion</h1></ion-col></ion-row>

    <ion-row><ion-input label="Nombre: "></ion-input></ion-row>
    <ion-row><ion-input label="Contraseña: " type="password"></ion-input></ion-row>
    <ion-row>
      <ion-col>
        <ion-button style="float: right;" [routerLink]="['/pagina1']">Iniciar sesion</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
